{{! Formulario de login }}

<form action="http://localhost:8080/api/login" method="post">
  <input type="text" name="email" value="email" />
  <input type="text" name="password" value="password" />
  <button type="submit" value="submit">Enviar</button>

</form>