<div class="bg-[#000] pt-1 pb-1">
  <p
    class="text-[#efecfb] font-[Montserrat] text-center text-sm"
  >BIENVENIDOS</p>
</div>
<header>

  <nav class="flex justify-center font-[Montserrat] bg-[#efecfb]">
    <ul class="flex space-x-20 text-xl mt-4 mb-4">
      <li><a href="#">INICIO</a></li>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><a href="#">
          <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
        </a></li>
    </ul>
  </nav>
</header>

<section class="flex justify-center">

  <div class="container">

    <figure class="bg-[#dcefee] rounded-xl h-auto mt-5">
      <div class="flex justify-center pt-3">
        <h2>CATEGORIA - REMERAS</h2>
      </div>

      <div class="flex space-x-16 mt-3">
        <div class="contenedor-cart space-x-44">

          <div class="bg-[#fff] h-72 w-52 ml-36">
            <img src="" alt="remera-1" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>

          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-2" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-3" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-4" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="flex space-x-16 mt-7">

        <div class="contenedor-cart space-x-44">

          <div class="bg-[#fff] h-72 w-52 ml-36">
            <img src="" alt="remera-5" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>

          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-6" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-7" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="contenedor-cart space-x-20">

          <div class="bg-[#fff] h-72 w-52">
            <img src="" alt="remera-8" />
            <div class="text-center">
              <h2>Térmico</h2>

              <div class="flex justify-end space-x-12 mr-3">
                <h2>$25.000</h2>
                <button><i
                    class="fa-solid fa-bag-shopping"
                    style="color: #000000;"
                  ></i>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="flex justify-center mt-3 pb-3 space-x-3">
        <button><i
            class="fa-solid fa-arrow-left"
            style="color: #000000;"
          ></i></button>
        <h2>1</h2>
        <button><i
            class="fa-solid fa-arrow-right"
            style="color: #000000;"
          ></i></button>
      </div>

    </figure>

  </div>

</section>

<footer
  class="bg-[#000000] h-12 flex justify-center items-center font-[Montserrat] mt-5"
>
  <div class="space-x-3 pl-5 text-3xl">
    <a href="#"><i
        class="fa-regular fa-envelope"
        style="color: #efecfb;"
      ></i></a>
    <a href="#"><i
        class="fa-brands fa-instagram"
        style="color: #efecfb;"
      ></i></a>
    <a href="#"><i
        class="fa-brands fa-whatsapp"
        style="color: #efecfb;"
      ></i></a>
  </div>

  <div class="text-[#efecfb] ml-3">
    <h3>Developed by - Tomás Eisenhach | Design by - Agustina Acosta | 2023</h3>
  </div>

</footer>

{{!-- 
{{#each products.payload}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
  </div>
{{/each}} --}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productPaginate.js"></script>