<div class="flex items-center justify-center h-screen bg-[#144272]">
  <div class="bg-[#fff] p-8 rounded shadow-md w-80">
    <h1 class="text-2x1 font-[Montserrat] mb-5 text-center">Hola
      {{first_name}}
      {{last_name}}
      gracias por registrarte, te mantrendremos al tanto a través del email:
      {{email}}
    </h1>
  </div>
</div>